
<script src="@Url.Content("~/Scripts/Admin/AdminOperations.js")" type="text/javascript"></script>


@{     
   var login =  ViewBag.Login;
   var loginStarter = ViewBag.LoginStarter == "login";
   var loginStr = loginStarter ? "" : "hidden";
   var signOutStr = loginStarter ? "hidden" : "";
   var viewname = ViewBag.LoginViewname; 
}

<span class="login" id="@viewname">
<span class="insertPassword" hidden>
    <label>Password:</label><input id="password" type="password"/><button id="signInBtn">Sign In</button></span>
<button id="loginBtn" @loginStr>Login</button>
<button id="signOutBtn" @signOutStr>Sign Out</button>
</span>

