<script src="@Url.Content("~/Scripts/AdminOperations.js")" type="text/javascript"></script>

@{ var viewname = ViewBag.LoginViewname;  }
<span class="adminSection" id="@viewname">
        <a href="/Admin">Admin</a>
        @{var checkedStr1= (Model.Preferences.Style=="1") ? "checked=checked" : "";
          var checkedStr2 = (Model.Preferences.Style == "2") ? "checked=checked" : "";
          var checkedStr3 = (Model.Preferences.Style == "3") ? "checked=checked" : ""; 
          }
        <label id="changeStyle"> | Change Style</label>
        <label>1</label><input id="style1" type="radio" name="style" value="1" @checkedStr1/>
     
        <label>2</label><input id="style2" type="radio" name="style" value="2" @checkedStr2/>
     
        <label>3</label><input id="style3" type="radio" name="style" value="3" @checkedStr3/>
        
        
    </span>
