<script src="@Url.Content("~/Scripts/Admin/AdminOperations.js")" type="text/javascript"></script>

@{ var viewname = ViewBag.LoginViewname;  }


<span class ="setStyle"  id="@viewname">
        @{var checkedStr1= (Model.Style=="1") ? "checked=checked" : "";
          var checkedStr2 = (Model.Style == "2") ? "checked=checked" : "";
          var checkedStr3 = (Model.Style == "3") ? "checked=checked" : ""; 
          }
        <label id="changeStyle">Change Style</label>
        <label>1</label><input id="style1" type="radio" name="style" value="1" @checkedStr1/>
     
        <label>2</label><input id="style2" type="radio" name="style" value="2" @checkedStr2/>
     
        <label>3</label><input id="style3" type="radio" name="style" value="3" @checkedStr3/>
     </span>   
