
/*border: 4px outset;*/
/*a {
    
    padding: 1.1px 5px 1.1px 5px;
    text-decoration: none;
    border-radius:2px;
}
a .disabled {
        background-color: #808080;
    }*/
body {
    font-family: 'Courier New'
}

.disabled {
    color:#808080  !important;
}


header {
    font-size:8em;
    font-weight:300;
}

td, th , header  {
    color: 	#006699;

}

td , td{
   padding: 0px 3em 0px 0px;
}

th {
    text-align: left;
    font-size: 2em;
}

    /*td .disabled, h3 .disabled {
        color:#808080  !important;
    }*/

button {
    border-radius: 2px;
}
    button:disabled {
        background-color: #808080;
        border: 1px solid #808080;
    }
    button:disabled:hover {
        background-color: #808080;
    }
 
#home {
        border: 1px solid #DD75DD;         
        background-color: #DD75DD;
        color: white;
    }
        #home:hover {
            background-color: #D54FD5;
        }

        /*#home:disabled {
        background-color: #808080;*/
    
.login button{
        border: 1px solid #0033FF;         
        background-color: #0033FF;
        color: white;
    }
    .login button:hover {
        background-color: #003399;
    }    

.delete {
        border: 1px solid #009999;         
        background-color: #009999;
        color: white;
    }
    .delete:hover {
        background-color: #006699;
    }
    
    /*.delete:disabled {
        background-color: #808080;
    }*/

.sure{
        border: 1px solid red;         
        background-color: red;
        color: white;
    }
    .sure:hover {
        background-color: #990033;
    }   
    /*.deleteSure:disabled {
        background-color: #808080;
    }*/
.cancel {
    border: 1px solid #009999;
    background-color: #009999;
    color: white;
}
    .cancel:hover {
        background-color: #006699;
    }

#createNew {
    border: 1px solid #009999;
    color:white;
    background : #009999;
}
    #createNew:hover {
        background-color: #006699;
    }

    #createNew:disabled {
        background-color: #808080;
    }

.edit {
    border: 1px solid #009999;
    color:white;
    background : #009999;
    /*border-radius:2px;*/
}
    .edit:hover {
        background-color: #006699;
    }
    /*#edit .disabled {
        background-color: #808080;
    }*/

