button {
    border-radius: 2px;
}
    button:disabled {
        background-color: #808080;
        border: 1px solid #808080;
    }
    button:disabled:hover {
        background-color: #808080;
    }

label {
    color: #006699;
}

    label:disabled {
        color: #808080;
    }
/*border: 4px outset;*/
/*a {
    
    padding: 1.1px 5px 1.1px 5px;
    text-decoration: none;
    border-radius:2px;
}
a .disabled {
        background-color: #808080;
    }*/

#personal {
    color: 	#006699;
    font-size:1.4em;
    width:20em;
    font-weight:500;
    padding:0.3em;
}
#personal:disabled {
        color: #808080;        
    }

    #personal button{        
        border: 1px solid #009999;
        background-color: #009999;
        color: white;
    }
    #personal button:hover {
        background-color: #006699;
    }
    #personal button:disabled {
        background-color: #808080;
        border: 1px solid #808080;
    }
    #personal button:disabled:hover{
        background-color: #808080;
    }

    #personal td {
         padding: 0.05em 0.8em 0.05em 0em;
    }

    #personal tr {
         vertical-align:central;
    }

    #personal input {
        color: #009999;        
    }

    #personal input:disabled {
        color: #808080;        
    }

#submit {
    position: relative;
    top: 103%;
    left: 78%;
    overflow:visible;
}
    /*#submit:disabled {
        background-color: #808080;
        border: 1px solid #808080;
    }*/

#title {
    min-height: 2em;
    height: 2em;
    resize: both;
    min-width:20em;
    /*border:3px solid red;*/
    color: #006699;
    font-size: 1.2em;
    vertical-align: central;
    font-weight:500;
}
    #title:disabled {
        color: #808080;
    }

.changed#personal {
    border:1px dashed #006699;
}
.changed#personal:disabled {
    border:1px dashed #808080;
}

.saved#personal {
    border:1px solid #006699;
}
.saved#personal:disabled {
    border:1px solid #808080;
}

body {
    font-family: 'Courier New'
}

.disabled {
    color:#808080  !important;
}


header {
    font-size:8em;
    font-weight:300;
}

td, th , header  {
    color: 	#006699;

}

td , td{
   padding: 0px 3em 0px 0px;
}

th {
    text-align: left;
    font-size: 2em;
}

    /*td .disabled, h3 .disabled {
        color:#808080  !important;
    }*/


 
.delete {
        border: 1px solid #009999;         
        background-color: #009999;
        color: white;
    }
    .delete:hover {
        background-color: #006699;
    }

.sure{
        border: 1px solid red;         
        background-color: red;
        color: white;
    }
    .sure:hover {
        background-color: #990033;
    }   
    
.cancel {
    border: 1px solid #009999;
    background-color: #009999;
    color: white;
}
    .cancel:hover {
        background-color: #006699;
    }

#createNew {
    border: 1px solid #009999;
    color:white;
    background : #009999;
}
    #createNew:hover {
        background-color: #006699;
    }

    #createNew:disabled {
        background-color: #808080;
    }

.edit {
    border: 1px solid #009999;
    color:white;
    background : #009999;
    /*border-radius:2px;*/
}
    .edit:hover {
        background-color: #006699;
    }
   

