body {
}

#postsManager {
    background-color:#006699; 
    border: 1px solid #006699;  
    border-radius: 2px;
    color:white;
}
    #postsManager:hover {
        background-color : #003399;
    }

#submit {
    background-color:#00CCCC;
    border: 1px solid #00CCCC;
    border-radius: 2px;
    color:white;
}

    #submit:hover {
        background-color:#0099CC;
    }
    #submit:disabled {
        background-color:dimgray;
    }


header {
    font-size : 8em;
    font-family: 'Courier New';
    font-weight:700;
    color : #00CCCC;
    width:100%;
    text-align:center;
    background:#006699;
}
    .disabledHeader {
        background:dimgray;
        color:lightgray;
    }

.userHeader {
    text-align:center;
}

#title {
    height:2em;
    min-height:2em;
    width:15em;
    min-width:15em;
    background-color:white;   
}
    /*#title:before {
        content:"error message";
        overflow:visible;
        position:relative;
        left:-5em;
        top:1em;
         font-size : 3em;
    font-family: 'Courier New';
    font-weight:700;
    color:red;
    }*/

#submitErrorMessage {
    font-size: 3em;
    font-family: 'Courier New';
    font-weight: 700;
    color: red;
}

/*#headerLabel {
    font-size:2em;    
    font-weight:500;
}*/

textarea.goodInput {
    border: 3px solid gray;
}
textarea.badInput {
    border: 3px solid red;
}

label.good {
    color:dimgray;    
}

label.badInput {
    color:red;    
}

#contentLabel {
    color:dimgray;
}

textarea#editor {
    height:20em;
    min-height:28em;
    background-color: #000066;
    border: 2px solid navy;
}
    textarea#editor body{
        background-color: red;
    }

button {
        background: #000066;
    }



/*body.mceContentBody { 
   background: red; 
   color:#000;
}*/