
#posts {
    /*position: absolute;
    top: 1em;
    left: 50%;
    margin: -11.5em 0 0 -12.5em;*/
    
    
    border: 1px solid gray;
}

.post {
    position:relative;
    width: 50%;
    left:25%;
    height: 15em;
    max-height:15em;
    padding: 10px;
    border: 1px solid gray;
    margin: 0px;
    
}
hr {
    display:none;
}

header {
    display:none;
}  

.postHeader {
    /*height:4em;
    max-height:4em;*/
    text-align:center;
}
    .postHeader #postTitle {
        color: red;
        font-family: Tahoma, Arial, "Verdana", "Sans-serif";
        font-size: 3.5em;
        text-align: center;
    }

    .postHeader #postDate {
        color: navy;
        font-family: Tahoma, Arial, "Verdana", "Sans-serif";
        font-size: 1.5em;
        text-align: center;
    }
       
   

.linkOn {
    color:black;
}
.linkOff {
    color:red;
}


