@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" charset="utf-8">
    $().ready(function () {
        location.href = "/Editors/Index";
    })
    </script>

<h2>Blog</h2>
@*git push origin master*@
<p>
    <a href="/Editors">Admin</a>
    
</p>