@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" charset="utf-8">
    //$().ready(function () {
        location.href = "/Posts/Index";
    //})
    </script>
@*<script src="@Url.Content("~/Scripts/Home.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/lz-string-1.3.3.js")"></script>*@
@{var styleIndex = ViewBag.StyleIndex; var url = "~/Content/home" + styleIndex + ".css";  var absoluteUrl = Url.Content(url); }
<link rel="stylesheet" type="text/css" href="@absoluteUrl"/>



<h2>Blog</h2>
@*git push origin master*@
<p>
    <a href="/Posts">Admin</a>
    @{var checkedStr1= (ViewBag.StyleIndex=="1") ? "checked=checked" : "";
      var checkedStr2 = (ViewBag.StyleIndex == "2") ? "checked=checked" : "";
      var checkedStr3 = (ViewBag.StyleIndex == "3") ? "checked=checked" : ""; 
      }
    <label>1</label><input id="style1" type="radio" name="style" value="1" @checkedStr1/>
     
    <label>2</label><input id="style2" type="radio" name="style" value="2" @checkedStr2/>
     
    <label>3</label><input id="style3" type="radio" name="style" value="3" @checkedStr3/>
</p>


<form id="posts">
    

</form>
<form id="parts">
  

</form>
