@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<script type="text/javascript" charset="utf-8">
    $().ready(function () {
        location.href = "/Posts/Index";
    })
    </script>*@

<h2>Blog</h2>
@*git push origin master*@
<p>
    <a href="/Posts">Admin</a>
    
</p>