<table id="itemsTemplate" class="disabled" >
    <tr >
        <th class="disabled">
            Name
        </th>
        <th class="disabled">
            Last Saved
        </th>
        <th></th>
    </tr>

    <tr data-template>
        <td class="disabled">
            {{title}}
        </td>
        <td class="disabled">            
            {{date|date 'DD.MM.YYYY HH:mm'}}
        </td>
        <td class="disabled">           
            <div id="{{id}}">
            <button name={{id}} class ="edit" disabled>Edit</button> | <button name = {{id}} class="delete" disabled>Delete</button> <span hidden class="deleteSure"><button class="sure" disabled>Sure?</button><button name ={{id}} class="cancel" disabled>Cancel</button></span>
           </div>     
        </td>
    </tr>
</table>   